@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/map.css" />
</head>
<body>

    <svg id="map example" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=http://www.w3.org/1999/xlink viewBox="0 0 450000 279400" xml:space="preserve">

    <title>map example</title>

    <a xlink:href="#" class="map-highlight">
    <path d="m 228561,206414 1534,653 1697,-7456 581,-4365 -1250,-2778 451,-419 17,-1026 1086,-602 -1757,-1860 1708,-2050 2714,-237 797,-2816
              928,-342 471,293 556,-460 385,231 937,-558 699,18 366,620 1167,381 852,-718 2886,-455 540,2035 1566,799 939,-275 1000,-249 420,1026
              967,416 -59,685 2379,759 527,1707 599,394 188,1062 615,527 -337,1130 0,918 586,228 399,1065 2881,623 1509,923 -298,1641 -2541,5504
              -106,1582 229,2184 -2731,563 -841,-689 -1081,-13 -1396,-605 -854,1318 -882,151 -3655,3022 306,638 -906,1127 -2057,1443 -3321,4781 -249,
              -3297 -1886,766 -990,-2307 -1041,-154 -1148,-882 -1702,-507 -718,-972 -532,174 -204,-560 -295,298 -751,-355 -353,319 -843,-1775 -702,-3228
              4,6 z" style="fill: #8fd1c5" />

    <text transform="translate(133.32 102.78)" style="font-size: 10px;fill: #fff;font-family: ArialMT, Arial">mun_2400109</text>
    </a>
    
    <a xlink:href="#" class="map-highlight">
    <path d="m 182205,91770 3761,-12238 -576,-6878 2695,-4378 8056,70 2541,3693 12400,3565 9810,3665 211,574 38,1196 -398,784 -968,579 -1288,2315
              -13,995 -1618,1860 -33,959 589,1371 -191,618 -1751,1154 -298,1145 -1158,1072 -628,2236 556,2577 1970,2191 -1085,1636 -700,2050 720,2294
              -100,911 1029,1029 208,1358 -632,5779 -762,1204 -7960,4881 -420,2464 -1756,1207 319,3487 -1482,420 -1893,1674 -404,661 -203,2073 -1816,-90
              -944,795 -738,-293 5548,-10147 -2101,-2379 59,-2438 -8084,-5006 -1839,-3956 -8676,-18737 5,-2 z" style="fill: #8fd1c5" />

    <text transform="translate(133.32 102.78)" style="font-size: 10px;fill: #fff;font-family: ArialMT, Arial">mun_2400208</text>
    </a>

    <a xlink:href="#" class="map-highlight">
    <path d="m 218479,85710 13,-996 1288,-2314 968,-579 398,-785 -38,-1196 35206,2408 2549,-1237 8874,-3789 -3519,26760 -12042,-1459 -728,-820 -167,-5872 
          -13900,-309 -79,-7299 -18820,-2516 -3,3 z"
      style="fill: #8fd1c5" />

    <text transform="translate(133.32 102.78)" style="font-size: 10px;fill: #fff;font-family: ArialMT, Arial">mun_2400307</text>
    </a>

    </svg>

</body>
</html>
