@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/map.css" />
</head>
<body>

    <svg id="map example" xmlns="http://www.w3.org/2000/svg" xmlns:xlink=http://www.w3.org/1999/xlink viewBox="0 0 450000 279400" xml:space="preserve">

    <title>map example</title>

    <a xlink:href="#" class="map-highlight" name="ACARI">
    <path d="m 228561,206414 1534,653 1697,-7456 581,-4365 -1250,-2778 451,-419 17,-1026 1086,-602 -1757,-1860 1708,-2050 2714,-237 797,-2816
              928,-342 471,293 556,-460 385,231 937,-558 699,18 366,620 1167,381 852,-718 2886,-455 540,2035 1566,799 939,-275 1000,-249 420,1026
              967,416 -59,685 2379,759 527,1707 599,394 188,1062 615,527 -337,1130 0,918 586,228 399,1065 2881,623 1509,923 -298,1641 -2541,5504
              -106,1582 229,2184 -2731,563 -841,-689 -1081,-13 -1396,-605 -854,1318 -882,151 -3655,3022 306,638 -906,1127 -2057,1443 -3321,4781 -249,
              -3297 -1886,766 -990,-2307 -1041,-154 -1148,-882 -1702,-507 -718,-972 -532,174 -204,-560 -295,298 -751,-355 -353,319 -843,-1775 -702,-3228
              4,6 z" style="fill: #8fd1c5" />

    </a>
    
    <a xlink:href="#" class="map-highlight" name="AÇU/ASSÚ">
    <path d="m 182205,91770 3761,-12238 -576,-6878 2695,-4378 8056,70 2541,3693 12400,3565 9810,3665 211,574 38,1196 -398,784 -968,579 -1288,2315
              -13,995 -1618,1860 -33,959 589,1371 -191,618 -1751,1154 -298,1145 -1158,1072 -628,2236 556,2577 1970,2191 -1085,1636 -700,2050 720,2294
              -100,911 1029,1029 208,1358 -632,5779 -762,1204 -7960,4881 -420,2464 -1756,1207 319,3487 -1482,420 -1893,1674 -404,661 -203,2073 -1816,-90
              -944,795 -738,-293 5548,-10147 -2101,-2379 59,-2438 -8084,-5006 -1839,-3956 -8676,-18737 5,-2 z" style="fill: #8fd1c5" />

    </a>

    <a xlink:href="#" class="map-highlight" name="AFONSO BEZERRA">
    <path d="m 218479,85710 13,-996 1288,-2314 968,-579 398,-785 -38,-1196 35206,2408 2549,-1237 8874,-3789 -3519,26760 -12042,-1459 -728,-820 -167,-5872
          -13900,-309 -79,-7299 -18820,-2516 -3,3 z"
          style="fill: #8fd1c5" />

    </a>

    <a xlink:href="#" class="map-highlight" name="ÁGUA NOVA">
    <path d="m 43093,176511 44,-1903 2060,-1382 3614,-1427 2402,1229 1287,-802 1265,368 -515,1587 687,1345 -782,1569 -1185,2032 -973,-437 -522,365
          -491,-219 -298,450 -6595,-2770 2,-5 z" style="fill: #8fd1c5" />

    </a>

    <a xlink:href="#" class="map-highlight" name="ALEXANDRIA">
    <path d="m 70298,194032 2577,-1286 443,-3040 1275,331 -54,-1882 3076,-291 898,-419 1407,175 -2,946 2852,-242 4123,-920 2083,-4473 327,-1873 9550,1950
          -3081,1417 666,1474 185,2408 4306,1646 810,-216 1633,298 1047,1088 -1155,1402 304,1016 -1490,385 -653,1004 -3326,-1230 -33,2675 496,522
          -231,623 -471,367 -1319,-54 -2084,1407 -1018,1147 -1808,126 -1374,-1700 -23,-1155 -1479,811 -77,1594 -1219,931 -4054,85 -82,348 723,210
          -1376,1618 848,2608 -1064,21 -592,736 -1613,-199 515,-1527 -898,-939 -211,-1232 -671,113 -265,1188 -648,67 -317,741 -1039,525 -740,-31
          -1487,-903 -818,-1541 -123,-1353 720,-1870 -1621,-537 -483,-1512 378,-2259 -1739,-740 -504,-577 0,-2 z" style="fill: #8fd1c5" />

    </a>

    <a xlink:href="#" class="map-highlight" name="ALMINO AFONSO">
    <path d="m 108321,169021 437,-496 -543,-1142 -710,-471 132,-460 -510,-852 116,-1229 720,-926 -224,-880 1145,299 833,-1199 713,-810 -75,-489
          383,-46 345,-1361 481,8 1883,2348 -602,571 851,252 1505,3138 3647,1063 859,-348 1883,-2173 -2510,7958 -4700,1939 -627,746 95,1700 -1183,492
          -1291,1484 1196,370 350,468 -1729,826 -489,-1065 -1298,-311 -759,-1256 -36,-758 332,-288 -428,-949 387,-520 -147,-1067 -1325,-2300 275,-424
          -406,-93 59,-507 826,-131 139,-1113 0,2 z" style="fill: #8fd1c5" />

    </a>

    <a xlink:href="#" class="map-highlight" name="ALTO DO RODRIGUES">
    <path d="m 220892,79269 -116,-1790 962,-555 2338,97 41,-2420 1024,-1556 2711,-2863 468,-2042 2554,-2302 10563,11654 12760,2662 2112,2096 
          -35206,-2407 -211,-574 z" style="fill: #8fd1c5" />
    </a>


    </svg>

</body>
</html>
